@import "tailwindcss";

@theme {
  --color-hot-pink: #FF1493;
  --color-deep-black: #09090b;
  --color-crisp-white: #ffffff;
}

@layer base {
  body {
    @apply bg-crisp-white text-deep-black antialiased;
  }
}
